.App {
  width: 800px;
  margin: 0 auto;
}

.App-header {
  border-bottom: 1px solid #ccc;
}

button {
  margin: 0 1em 1em 0;
  width: 110px;
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  padding: 0.5em 0.7em 0.6em 0.7em;
}

html, body {
  font-family: "Helvetica Neue";
}