.App {
    margin: 0 auto;
}

.App-header {
    border-bottom: 1px solid #f1f1f1;
    background: #fbfbfb;
}

.App-header-flex {
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App-header-component {
    flex: 0 0 auto;
}

.App-logo {
    width: 300px;
}

.App-options {
    padding: 8px 16px;
    border-radius: 3px;
    margin: 0;
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}

.App-stats {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #f1f1f1;
    background: #fbfbfb;
    padding: 20px;
    border-radius: 4px;
}

.App-options:hover {
    background: #ededed;
    color: #383838
}

html, body {
    font-family: "Helvetica Neue", sans-serif;
}

section {
    width: 800px;
    margin: 30px auto 0 auto;
}
